---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 12h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  # renovate: datasource=helm depName=external-secrets
  url: oci://ghcr.io/external-secrets/charts/external-secrets
  ref:
    tag: "0.13.0"
#  verify:
#    provider: cosign
#    matchOIDCIdentity:
#      - issuer: "^https://token.actions.githubusercontent.com$"
#        subject: "^https://github.com/external-secrets/external-secrets.*$"
