---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - https://raw.githubusercontent.com/volschin/external-secrets/main/config/crds/bases/external-secrets.io_clustersecretstores.yaml
  - https://raw.githubusercontent.com/volschin/external-secrets/main/config/crds/bases/external-secrets.io_secretstores.yaml
